body {
	background-color: #333;
	margin: 0;
	font-family: Verdana, sans-serif;
}
.game {
	overflow: hidden;
}
.game .frame {
	width: 1000px;
	height: 1000px;
	border: 1px solid gray;
	display: inline-block;
}
.game .frame > div {
	width: 10px;
	height: 10px;
	display: inline-block;
}
.game .menu {
	display: inline-block;
	vertical-align: top;
	margin: 1em;
	max-width: 250px;
}
label {
	display: block;
	color: white;
	margin-bottom: 0.5em;
}
label span {
	display: inline-block;
	width: 80px;
}
input[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}
label p {
	margin-top: 2em;
	font-size: .75em;
}